.head1
{   
    padding: 20px 20px;
    border-radius: 25px;
    background-color: yellow;
    width: 1000px;
    height: 100px;
    margin: 20px;
}
.container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: wrap;
    max-width: 2000px;
    height: 500px;
}
.container1
{
     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 2000px;
    height: 500px;
}