.head1
{   
    padding: 20px 20px;
    border-radius: 25px;
    background-color: #18bc9c;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/profile.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22%;
    width: 100%;
    margin: 20px;
}
.container
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 500px;
    margin: 10px auto;
    position: relative;
}
.container1
{    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.firstchild
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    height: 400px;
}
.secondchild
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    height: 400px;
}
.b2
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cabin.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;
    
}

.b3
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/cake.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;
    
    
}

.b4
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/circus.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;;
    
    
}

.b5
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/game.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;
    
}

.b6
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/safe.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;
    
}

.b7
{
    padding: 20px 20px;
    border-radius: 25px;
    background-image: url('http://blackrockdigital.github.io/startbootstrap-freelancer/img/portfolio/submarine.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 33%;
    
}

.b8
{
    padding: 20px 20px;
    border-radius: 25px;
    background-color: yellow;
    width: 1000px;
    height: 100px;
    margin: 20px;
}
.text
{
    position: absolute;
    bottom: 70px;
    left: 35%;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
